
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}


@media only screen and (max-width: 600) {
  #app {
    flex-direction: column;
  }
}

.gone {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #dcead5;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 33vw;
  margin: 30px auto;
  border: 5px solid #68ac48;
  border-radius: 8px;
  padding: 20px;
  background-color: #eef0f4;
}

img {
  width: 250px;
  margin: 30px auto;
  padding: 8px;
}

input {
  color: #26411a;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Monsterrat", sans-serif;
  margin: 10px 0;
}

input:focus {
  outline: 2px solid #68ac48;
}

button {
  color: #fdfdfd;
  background-color: #68ac48;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Monsterrat", sans-serif;
}

button:hover {
  background-color: #7ace53;
  box-shadow: 0px 1px 4px #26411a;
  cursor: pointer;
  transition: background-color 0.3s;
}

p {
  font-size: 15px;
  color: #26411a;
  text-align: center;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 200;
  background-color: #fffdf8;
  color: #26411a;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px #26411a;
}

li:hover {
  background-color: #ff8d8d;
  cursor: pointer;
}
